# install at /etc/systemd/system

[Unit]
Description=Custom WireGuard service (https://github.com/saeidscorp/wg-setup)
After=network.target

[Service]
Type=oneshot
RemainAfterExit=True
ExecStart=/usr/bin/wg-quick up #(wg_iface)
ExecStop=/usr/bin/wg-quick down #(wg_iface)

[Install]
WantedBy=multi-user.target
